<ion-view view-title="状态" on-swipe-left="switchRight()" on-swipe-right="switchLeft()">
  <ion-nav-buttons side="left">
  <a class="button button-clear icon ion-navicon" menu-toggle="left"></a>
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
  <a class="button button-clear icon ion-qr-scanner" ng-click="scan()"></a>
  </ion-nav-buttons>
  <ion-content class="tab-dash padding">
    <div class="list card">
      <div class="item item-divider item-calm" ng-click="alert()">点击弹窗</div>
      <div class="item item-body">
        <div>
          调用手机系统自带弹窗
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider item-balanced" ng-click="vibrate()">点击震动</div>
      <div class="item item-body">
        <div>
          调用手机的震动功能
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider item-royal" ng-click="audio()">点击音乐</div>
      <div class="item item-body">
        <div>
          调用手机的音频功能
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider item-assertive" ng-click="clearWatch()">点击取消方向监听</div>
      <div class="item item-body">
        <div>
          调用手机设备信息
          <p>手机版本号：{{version}}</p>
          <p>当前时间：{{timeStamp}}</p>
          <p>运动方向：x:{{X}} y:{{Y}} z:{{Z}}</p>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>


  
