<ion-view  view-title="微信" on-swipe-left="switchRight()" on-swipe-right="switchLeft()">
  <ion-nav-buttons side="left">
  <a class="button button-clear icon ion-ios-minus-outline" ng-click="flag.showDelete=!flag.showDelete;flag.showReorder=false;"></a>
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
  <a class="button button-clear icon ion-navicon" ng-click="flag.showReorder=!flag.showReorder;flag.showDelete=false;"></a>
  </ion-nav-buttons>
  <ion-content class="xxxx">
    <ion-refresher pulling-text="下拉刷新..."  on-refresh="doRefresh()" spinner="android"></ion-refresher>
    <ion-list class="chats-list" can-swipe="false" show-delete="flag.showDelete" show-reorder="flag.showReorder">
      <ion-item style="z-index:{{chat.zindex}}; background-color:#{{chat.bgColor}}; overflow: visible!important;" class="item-remove-animate item-avatar item-icon-right" on-hold="showSheet(chat)" ng-click="changeBadge(chat);chat.state='none'" ng-repeat="chat in chats"  type="item-text-wrap" href="#/tab/chats/{{chat.id}}">
        <img style="border-radius:0;" ng-src="{{chat.face}}">
        <span style="transform: rotate(0deg); z-index:100; display:{{chat.state}}; padding: 1px; top: {{clientY}}px; left: {{clientX}}px; width:16px; height:16px; font-weight: normal; font-size: 12px; text-align:center" class="badge badge-assertive" hm-dragstart="dragStart(event)" hm-drag="dragMove(event, chat)">{{chat.num}}</span>
        <h2 style="font-weight:500">{{chat.name}}</h2>
        <p>{{chat.lastText}}</p>
        <i class="icon ion-chevron-right icon-accessory"></i>
        <ion-option-button class="button-calm ion ion-edit"></ion-option-button>
        <ion-option-button class="button-energized ion ion-share"></ion-option-button>
        <ion-delete-button class="ion-minus-circled" ng-click="remove(chat)"></ion-delete-button>
        <ion-reorder-button class="ion-navicon" on-reorder="move(chat,$fromIndex,$toIndex)"></ion-reorder-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
